<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="id" class="ios title-ios hydrated">
      <span *ngIf="id !== 'undefined'"> Edit Farmer </span>
      <span *ngIf="id === 'undefined'"> Add Farmer </span>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="farmerForm" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="First_Name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="Last_Name" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Father Name</ion-label>
        <ion-input formControlName="Father_Name" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mobile_Number</ion-label>
        <ion-input formControlName="Mobile_Number1" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Farmer Photo</ion-label>
        <ion-input formControlName="Farmer_Photo_Id" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="Email" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Supervisor</ion-label>
        <ion-input formControlName="Supervisor_Id" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Farmer Code</ion-label>
        <ion-input formControlName="Tally_FarmerCode" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
