<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->




<ion-content>
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-song">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <!-- <button type="button" class="btn btn-primary"> Sample</button> -->
  </ion-fab>
  
  <!-- <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Products
    </ion-list-header>

    <ion-item *ngFor="let song of Songs" class="item-label item ios in-list ion-focusable hydrated">
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{song.product_name}}</h2>
        <h3>{{song.product_price}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-song/', song._id]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteSong(song, i)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list> -->


  <ion-grid class="ion-text-center">

    <!-- <ion-row class="ion-margin">
      <ion-col>
        <ion-title>
          <ion-text color="default">
            Your title remove if don't want use
          </ion-text>
        </ion-title>
      </ion-col>
    </ion-row> -->

    <ion-row class="header-row">
      <ion-col>
        <ion-text>Name</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Price</ion-text>
      </ion-col>

    </ion-row>


    <ion-row *ngFor="let song of Songs" >
      <ion-col>
        <ion-text>
          {{song.product_name}}
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
            {{song.product_price}}
          </ion-text>
        </ion-col>
  
        <!-- <ion-col>
          <ion-text>
            R$ 200
          </ion-text>
        </ion-col> -->
    </ion-row>

  </ion-grid>


  
</ion-content>

